:root {
    --bg: #f2f2f2;
    --mainDiv: #fff;
    --color: #2d3737;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --mainDiv: #2d3737;
        --color: #fff;
    }
}
html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
body {
    font-family: verdana;
    font-size: 14px;
    margin: auto;
    min-width: max-content;
    width: max-content;
    color: var(--color);
    padding: 10px;
    background-color: var(--bg);
}
h2 {
    text-align: center;
}
label {
    display: inline-block;
    width: 75px;
}
td {
    height: 28px;
}
input[type="text"],
[type="number"] {
    width: 100px;
}
button {
    float: right;
}
select {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}
select:focus {
    outline-style: auto;
}
.mainDiv {
    background-color: var(--mainDiv);
    padding: 34px 34px 34px 34px;
}
.agentName {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}
.footer {
    text-align: center;
    font-size: 9px;
    padding-top: 8px;
}
.header {
    text-align: left;
    font-size: 12px;
}
.space {
    height: 10px;
}
.date {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
